@tailwind base;
@tailwind components;
@tailwind utilities;
:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    scrollbar-gutter: auto;
}
.modal[open] .modal-box {
    --tw-translate-y: -72px;
}
.ddal{
    --tw-translate-y: -72px;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.loading-xl{
    width: 128px;
}
